/* line 1, ../sass/style.sass */
html, body, div, class, id, span, applet, object, iframe, h1, h4, h5, h6, p, blockquote, pre, a, b, i, h2, abbr, acronym, address, big, cite, code, s del, dfn, em, img, ins, q, s, samp, small, strike, strong, sub, sup, tt, var, u, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0px auto;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

/* line 258, icons/*.png */
.icons-sprite, .header a.logo, .mainNavigation li a i.dashboard, .mainNavigation li a i.jobs, .mainNavigation li a i.transDir, .mainNavigation li a i.langAssets, .mainNavigation li a i.teams, a.twitter, a.facebook, a.linkedIn, .personalDetails .address i, .personalDetails .phone i, .personalDetails .fax i, .personalDetails .mail i, .personalDetails .url a i, .middleMainTopContent h2 i, .middleMainBottomContent h2 i, .review .arrows a.pre, .review .arrows a.next {
  background: url('../images/icons-s8055e46011.png') no-repeat;
}

/* HTML5 display-role reset for older browsers */
/* line 13, ../sass/style.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 16, ../sass/style.sass */
body {
  line-height: 1;
}

/* line 19, ../sass/style.sass */
ol, ul {
  list-style: none;
}

/* line 22, ../sass/style.sass */
blockquote, q {
  quotes: none;
}

/* line 26, ../sass/style.sass */
blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 31, ../sass/style.sass */
q:before, q:after {
  content: "";
  content: none;
}

/* line 35, ../sass/style.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 39, ../sass/style.sass */
body {
  font-size: 12px;
  font-family: Helvetica;
}

/* line 43, ../sass/style.sass */
#wrapper {
  font-size: 12px;
  line-height: 14px;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #f3f3f3;
}

/* line 49, ../sass/style.sass */
.clr {
  clear: both;
  float: none;
}

/* line 53, ../sass/style.sass */
#headerContainer {
  box-shadow: 0 2px 5px #d7d7d7;
  margin-bottom: 30px;
  background-color: white;
}

/* line 58, ../sass/style.sass */
.header {
  width: 960px;
  margin: 0px auto;
}
/* line 61, ../sass/style.sass */
.header a.logo {
  background-position: 0 0;
  width: 140px;
  height: 40px;
  float: left;
  text-indent: -5000px;
  margin: 10px 0px 10px 10px;
}

/* line 71, ../sass/style.sass */
.headerRight {
  margin: 9px 6px 0px 0px;
  float: right;
}
/* line 74, ../sass/style.sass */
.headerRight .headerTop {
  margin-bottom: 11px;
  float: right;
  font-family: Helvetica, Arial, sans-serif;
}

/* line 80, ../sass/style.sass */
.headerTop li {
  float: left;
  font-size: 12px;
  border-left: 1px solid #aaaaaa;
  padding-left: 9px;
  padding-right: 8px;
  display: block;
}
/* line 87, ../sass/style.sass */
.headerTop .menuStyle {
  padding-right: 0px;
}
/* line 89, ../sass/style.sass */
.headerTop .noBorder {
  border-left: none;
}
/* line 91, ../sass/style.sass */
.headerTop li a {
  text-decoration: none;
  color: #444444;
}
/* line 94, ../sass/style.sass */
.headerTop li a:hover {
  color: #dd4422;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: RobotoRegular;
  src: url("../fonts/Roboto-Regular.ttf");
}

/* line 107, ../sass/style.sass */
.mainNavigation {
  float: right;
}
/* line 109, ../sass/style.sass */
.mainNavigation li {
  float: left;
  margin: 0px 3px 0px 28px;
}
/* line 112, ../sass/style.sass */
.mainNavigation li a {
  font-family: Roboto;
  font-size: 13px;
  display: block;
  color: #666666;
  word-spacing: 2px;
  text-decoration: none;
}
/* line 119, ../sass/style.sass */
.mainNavigation li a:hover, .mainNavigation li a.selected {
  color: black;
}
/* line 122, ../sass/style.sass */
.mainNavigation li a i.dashboard {
  background-position: 0 -626px;
  padding-right: 25px;
  height: 9px;
  width: 20px;
}
/* line 128, ../sass/style.sass */
.mainNavigation li a i.jobs {
  background-position: 0 -555px;
  padding-right: 25px;
  height: 13px;
  width: 20px;
}
/* line 134, ../sass/style.sass */
.mainNavigation li a i.transDir {
  background-position: 0 -578px;
  padding-right: 25px;
  height: 13px;
  width: 20px;
  color: black;
}
/* line 141, ../sass/style.sass */
.mainNavigation li a i.langAssets {
  background-position: 0 -689px;
  padding-right: 25px;
  height: 13px;
  width: 20px;
}
/* line 147, ../sass/style.sass */
.mainNavigation li a i.teams {
  background-position: 0 -421px;
  margin: 0px 0px 0px 0px;
  padding-right: 25px;
  height: 13px;
  width: 20px;
}

/* line 155, ../sass/style.sass */
#content {
  width: 960px;
  border-radius: 5px;
  border: 1px solid #d5d5d5;
  box-shadow: 0px 0px 3px #d5d5d5;
  background-color: white;
  margin-bottom: 50px;
}

/* line 163, ../sass/style.sass */
.leftContent {
  width: 680px;
  float: left;
  box-shadow: 3px 0px 2px -1px #ebebeb;
}

/* line 168, ../sass/style.sass */
.topContent {
  background-color: #444444;
  border-top-left-radius: 5px;
  padding: 15px 20px 6px 20px;
  margin-bottom: 26px;
  color: white;
}

/* line 175, ../sass/style.sass */
.leftTopContent {
  width: 115px;
  margin-right: 27px;
  float: left;
}

/* line 180, ../sass/style.sass */
.profile {
  position: relative;
}
/* line 182, ../sass/style.sass */
.profile img {
  border-radius: 50%;
  border: 5px solid #2f2f2f;
  margin-bottom: 16px;
}

/* line 188, ../sass/style.sass */
a.twitter {
  background-position: 0 -246px;
  height: 16px;
  width: 16px;
  position: absolute;
  top: 58px;
  left: 97px;
}
/* line 197, ../sass/style.sass */
a.facebook {
  background-position: 0 -395px;
  height: 16px;
  width: 16px;
  position: absolute;
  top: 80px;
  left: 87px;
}
/* line 206, ../sass/style.sass */
a.linkedIn {
  background-position: 0 -272px;
  height: 16px;
  width: 16px;
  position: absolute;
  top: 95px;
  left: 68px;
}

/* line 216, ../sass/style.sass */
.leftTopContent a:hover {
  opacity: 0.6;
}

/* line 219, ../sass/style.sass */
.ribbon {
  background-image: url(../images/ribbon.png);
  background-repeat: no-repeat;
  width: 116px;
  height: 20px;
}

/* line 225, ../sass/style.sass */
.middleTopContent {
  float: left;
  width: 290px;
  word-wrap: break-word;
  margin-right: 5px;
}
/* line 230, ../sass/style.sass */
.middleTopContent h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  font-family: Roboto;
  margin-bottom: 7px;
}
/* line 236, ../sass/style.sass */
.middleTopContent .location {
  font-family: Helvetica;
  font-size: 12px;
  line-height: 16px;
  color: #aaaaaa;
}
/* line 241, ../sass/style.sass */
.middleTopContent h3 {
  font-weight: bold;
  font-family: Helvetica;
  font-size: 14px;
  line-height: 16px;
  color: white;
  margin-bottom: 8px;
}
/* line 249, ../sass/style.sass */
.middleTopContent .infoList li {
  font-family: Helvetica;
  font-size: 12px;
  line-height: 18px;
}
/* line 253, ../sass/style.sass */
.middleTopContent .infoList .titleStyle {
  color: #aaaaaa;
}
/* line 255, ../sass/style.sass */
.middleTopContent .infoList .infoStyle {
  color: white;
}

/* line 258, ../sass/style.sass */
.rightTopContent {
  max-width: 203px;
  float: right;
  word-wrap: break-word;
}

/* line 263, ../sass/style.sass */
.firstRightTopContent {
  float: right;
  margin-bottom: 11px;
}
/* line 266, ../sass/style.sass */
.firstRightTopContent li {
  float: left;
  margin: 0px 1px 0px 1px;
}

/* line 270, ../sass/style.sass */
.active {
  background-image: url(../images/star.png);
  background-repeat: no-repeat;
  width: 14px;
  height: 13px;
}

/* line 276, ../sass/style.sass */
.noRating {
  background-image: url(../images/noRating.png);
  background-repeat: no-repeat;
  width: 14px;
  height: 13px;
}

/* line 282, ../sass/style.sass */
.recommend {
  font-size: 14px;
  line-height: 16px;
  font-family: Helvetica;
  color: #aaaaaa;
  float: right;
  margin-bottom: 30px;
}

/* line 290, ../sass/style.sass */
.countNum {
  color: white;
}

/* line 293, ../sass/style.sass */
.bottomRightTopContent {
  float: right;
}

/* line 296, ../sass/style.sass */
.upgradeBtn {
  float: right;
  max-width: 203px;
  padding-top: 1px;
  padding-right: 16px;
  padding-bottom: 1px;
  padding-left: 16px;
  background: -webkit-gradient(linear, left top, left bottom, from(#525252), to(#222222));
  background: -moz-linear-gradient(top, #525252, #222222);
  background: -o-linear-gradient(top, #525252, #222222);
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: inset 0px 0px 2px white;
  box-shadow: 1px 0px 5px black;
  font-size: 14px;
  font-family: Helvetica;
  line-height: 24px;
  text-decoration: none;
  color: white;
  margin-bottom: 15px;
}

/* line 317, ../sass/style.sass */
.features {
  float: right;
  font-size: 12px;
  line-height: 16px;
  font-family: RobotoRegular;
  color: #aaaaaa;
  text-align: right;
}

/* line 325, ../sass/style.sass */
.money {
  color: white;
}

/* line 328, ../sass/style.sass */
.leftMainContent {
  width: 610px;
}

/* line 331, ../sass/style.sass */
.personalDetails {
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 36px;
  padding-bottom: 16px;
}
/* line 335, ../sass/style.sass */
.personalDetails li {
  margin-bottom: 16px;
}
/* line 337, ../sass/style.sass */
.personalDetails .address {
  max-width: 610px;
  font-size: 14px;
  line-height: 16px;
  color: #666666;
  display: block;
}
/* line 343, ../sass/style.sass */
.personalDetails .address i {
  background-position: 0 -530px;
  width: 15px;
  height: 15px;
  padding-left: 25px;
}
/* line 350, ../sass/style.sass */
.personalDetails .phone {
  width: 280px;
  word-wrap: break-word;
  font-size: 14px;
  line-height: 16px;
  color: #666666;
  margin-right: 5px;
}
/* line 357, ../sass/style.sass */
.personalDetails .phone i {
  background-position: 0 -505px;
  width: 15px;
  height: 15px;
  padding-left: 13px;
  float: left;
}
/* line 364, ../sass/style.sass */
.personalDetails .fax {
  width: 300px;
  word-wrap: break-word;
  font-size: 14px;
  line-height: 16px;
  color: #666666;
  float: right;
}
/* line 371, ../sass/style.sass */
.personalDetails .fax i {
  background-position: 0 -601px;
  width: 15px;
  height: 15px;
  padding-left: 25px;
}
/* line 378, ../sass/style.sass */
.personalDetails .mail a {
  width: 280px;
  word-wrap: break-word;
  font-size: 14px;
  line-height: 16px;
  color: #666666;
  margin-right: 5px;
}
/* line 385, ../sass/style.sass */
.personalDetails .mail i {
  background-position: 0 -444px;
  width: 15px;
  height: 15px;
  padding-left: 13px;
  float: left;
}
/* line 392, ../sass/style.sass */
.personalDetails .url a {
  width: 300px;
  word-wrap: break-word;
  font-size: 14px;
  line-height: 16px;
  color: #666666;
  float: right;
}
/* line 399, ../sass/style.sass */
.personalDetails .url a i {
  background-position: 0 -298px;
  width: 15px;
  height: 15px;
  padding-left: 25px;
}
/* line 405, ../sass/style.sass */
.personalDetails .url a:hover {
  color: #dd4422;
}
/* line 407, ../sass/style.sass */
.personalDetails li a {
  text-decoration: none;
  color: #dd4422;
}
/* line 410, ../sass/style.sass */
.personalDetails li a:hover {
  color: black;
}

/* line 413, ../sass/style.sass */
.middleMainTopContent h2 {
  padding-bottom: 10px;
  color: #444444;
  font-family: Roboto;
  font-size: 24px;
  line-height: 26px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 14px;
}
/* line 421, ../sass/style.sass */
.middleMainTopContent h2 i {
  background-position: 0 -469px;
  height: 26px;
  width: 33px;
  padding-left: 40px;
}

/* line 428, ../sass/style.sass */
.jobHistory {
  margin-bottom: 34px;
}
/* line 430, ../sass/style.sass */
.jobHistory li {
  margin-bottom: 10px;
  border-bottom: 1px solid #ebebeb;
}

/* line 434, ../sass/style.sass */
h3 {
  font-family: Helvetica;
  font-size: 18px;
  line-height: 22px;
  color: #444444;
  font-weight: bold;
  margin-bottom: 8px;
}

/* line 442, ../sass/style.sass */
.jobHistory .company {
  display: block;
  font-family: Helvetica;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
  margin-bottom: 8px;
}

/* line 450, ../sass/style.sass */
.month {
  display: block;
  font-family: Helvetica;
  font-size: 11px;
  line-height: 13px;
  color: #aaaaaa;
  margin-bottom: 14px;
}

/* line 458, ../sass/style.sass */
.jobHistory .details {
  display: block;
  font-family: Helvetica;
  font-size: 12px;
  line-height: 18px;
  color: #888888;
  margin-bottom: 14px;
}

/* line 466, ../sass/style.sass */
.middleMainBottomContent h2 {
  padding-bottom: 8px;
  color: #444444;
  font-family: Roboto;
  font-size: 24px;
  line-height: 36px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 22px;
}
/* line 474, ../sass/style.sass */
.middleMainBottomContent h2 i {
  background-position: 0 -130px;
  padding-left: 48px;
  width: 40px;
  height: 30px;
}

/* line 482, ../sass/style.sass */
.educationUniversity {
  margin-bottom: 27px;
}

/* line 485, ../sass/style.sass */
.university h3 {
  margin: 0 0 6px 0;
}

/* line 489, ../sass/style.sass */
.educationUniversity .university {
  width: 265px;
  word-wrap: break-word;
  float: left;
  border-radius: 5px;
  margin: 0 20px 0 0;
  padding: 15px 15px 8px 15px;
  box-shadow: 0px 0px 1px 1px #d9d9d9;
}
/* line 497, ../sass/style.sass */
.educationUniversity .clrMargin {
  margin: 0px 0px 0px 0px;
}

/* line 501, ../sass/style.sass */
.university .certification {
  font-size: 14px;
  line-height: 16px;
  color: #444444;
  margin: 0 0 7px 0;
  display: block;
}
/* line 507, ../sass/style.sass */
.university .month {
  margin: 0 0 18px 0;
  display: block;
}

/* line 511, ../sass/style.sass */
.review {
  padding-bottom: 5px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 20px;
}
/* line 515, ../sass/style.sass */
.review h2 {
  font-family: Roboto;
  font-size: 24px;
  line-height: 26px;
  color: #444444;
}
/* line 520, ../sass/style.sass */
.review .arrows {
  float: right;
}
/* line 523, ../sass/style.sass */
.review .arrows a.pre {
  float: right;
  background-position: 0 -349px;
  width: 15px;
  height: 20px;
  display: block;
  margin-right: 9px;
}
/* line 532, ../sass/style.sass */
.review .arrows a.next {
  float: right;
  background-position: 0 -323px;
  width: 15px;
  height: 20px;
  display: block;
}

/* line 541, ../sass/style.sass */
.revieweClass {
  margin-bottom: 30px;
}

/* line 545, ../sass/style.sass */
.reviewClass .reviewBox {
  width: 280px;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  padding: 9px 0px 15px 9px;
  margin-right: 23px;
  margin-bottom: 23px;
  float: left;
  box-shadow: 1px 0px 2px #d9d9d9;
}
/* line 554, ../sass/style.sass */
.reviewClass .clrMargin {
  margin: 0px 0px 0px 0px;
}
/* line 556, ../sass/style.sass */
.reviewClass .reviewBox .topReview {
  padding-bottom: 8px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 7px;
}
/* line 560, ../sass/style.sass */
.reviewClass .reviewBox .topReview a {
  display: block;
  float: left;
}
/* line 563, ../sass/style.sass */
.reviewClass .reviewBox .topReview img {
  border-radius: 50%;
  border: 1px solid #e1e1e1;
  margin-right: 11px;
  width: 55px;
  height: 58px;
}
/* line 569, ../sass/style.sass */
.reviewClass .reviewBox .topReview .nameDesg {
  float: left;
}

/* line 573, ../sass/style.sass */
.reviewBox .topReview a.adam {
  font-family: Helvetica;
  font-size: 16px;
  line-height: 18px;
  padding-top: 19px;
  display: block;
  color: #3d3d3d;
  text-decoration: none;
  float: left;
}
/* line 582, ../sass/style.sass */
.reviewBox .topReview a.adam:hover {
  color: #dd4422;
}
/* line 584, ../sass/style.sass */
.reviewBox .topReview .desg {
  font-family: Helvetica;
  font-size: 14px;
  line-height: 18px;
  color: #b7b7b7;
}
/* line 589, ../sass/style.sass */
.reviewBox .topReview .ratingDisplay {
  float: right;
  padding-top: 17px;
}

/* line 593, ../sass/style.sass */
.ratingDisplay li {
  float: left;
  padding-left: 2px;
}

/* line 598, ../sass/style.sass */
.reviewBox .adamReview {
  font-family: Helvetica;
  font-size: 14px;
  line-height: 16px;
  color: #3d3d3d;
  margin-bottom: 3px;
  display: block;
}
/* line 605, ../sass/style.sass */
.reviewBox .reviewInfo {
  font-family: Helvetica;
  font-size: 12px;
  color: #888888;
  display: block;
}
/* line 610, ../sass/style.sass */
.reviewBox .reviewInfo a {
  text-decoration: none;
  color: #dd4422;
  font-size: 12px;
  line-height: 14px;
}
/* line 615, ../sass/style.sass */
.reviewBox .reviewInfo a:hover {
  color: black;
}

/* line 618, ../sass/style.sass */
.rightContentContainer {
  width: 280px;
  float: left;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
/* line 623, ../sass/style.sass */
.rightContentContainer .messageHeader {
  margin: 25px 30px 20px 20px;
}
/* line 625, ../sass/style.sass */
.rightContentContainer .messageHeader h2 {
  padding: 0px 0 0px 0px;
  color: #dd4422;
  float: left;
  text-transform: uppercase;
  line-height: 36px;
  margin: 0px;
}
/* line 632, ../sass/style.sass */
.rightContentContainer .messageHeader h2 i {
  width: 36px;
  height: 36px;
  float: left;
  display: block;
  background: no-repeat url(../images/message.png);
  margin-right: 7px;
}
/* line 639, ../sass/style.sass */
.rightContentContainer .messageHeader span {
  text-transform: uppercase;
  color: #666666;
  float: right;
  margin: 9px 7px 0 0;
}
/* line 644, ../sass/style.sass */
.rightContentContainer .messageHeader .newMessageContainer {
  float: right;
}
/* line 646, ../sass/style.sass */
.rightContentContainer .messageHeader .newMessage {
  height: 19px;
  width: 22px;
  color: #dd4422;
  float: right;
  background: #dd4422;
  border-radius: 11px;
  color: white;
  text-align: center;
  font-family: robotobold;
  padding-top: 3px;
  margin-top: 6px;
}
/* line 659, ../sass/style.sass */
.rightContentContainer .messagMainContainer .days {
  border-radius: 2px;
  padding: 0 0 20px 0px;
  display: block;
  font-size: 11px;
}
/* line 664, ../sass/style.sass */
.rightContentContainer .messagMainContainer .days .day {
  padding: 2px 5px 2px 5px;
  background: #e5e5e5;
  border-radius: 2px;
  margin: 0 0 15px 15px;
}
/* line 669, ../sass/style.sass */
.rightContentContainer .messagMainContainer .days .borderSeparator {
  background: url(../images/bordershadow.png) no-repeat;
  height: 8px;
  width: 165px;
  float: left;
  margin: 25px 0 2px 0;
}
/* line 675, ../sass/style.sass */
.rightContentContainer .messagMainContainer .days .clr {
  display: block;
}
/* line 677, ../sass/style.sass */
.rightContentContainer .messagMainContainer .dayMessage {
  clear: both;
  margin-bottom: 31px;
}
/* line 680, ../sass/style.sass */
.rightContentContainer .messagMainContainer .dayMessage ul {
  margin: 0px 30px 0px 20px;
}
/* line 681, ../sass/style.sass */
.rightContentContainer .messagMainContainer .dayMessage ul .clr {
  border: none;
  margin: 0;
  padding: 0;
}
/* line 686, ../sass/style.sass */
.rightContentContainer .messagMainContainer .dayMessage ul li {
  border-bottom: 1px solid #ebebeb;
  margin: 8px 0px 5px 0px;
}
/* line 689, ../sass/style.sass */
.rightContentContainer .messagMainContainer .dayMessage ul li a {
  display: block;
  float: left;
  padding: 0 5px 0 0;
}
/* line 693, ../sass/style.sass */
.rightContentContainer .messagMainContainer .dayMessage ul li .pic {
  width: 36px;
  height: 36px;
  border-radius: 18px;
  box-shadow: inset 0 0 1px 0 #cccccc;
  float: left;
  margin: 0 10px 7px 0;
  display: block;
}
/* line 701, ../sass/style.sass */
.rightContentContainer .messagMainContainer .dayMessage ul li .name {
  display: block;
  font-size: 16px;
  color: #222222;
  margin: 9px 0 0 0px;
  float: left;
}
/* line 707, ../sass/style.sass */
.rightContentContainer .messagMainContainer .dayMessage ul li .name:hover {
  color: #dd4422;
}
/* line 709, ../sass/style.sass */
.rightContentContainer .messagMainContainer .dayMessage ul li span {
  display: block;
  color: #666666;
  margin-bottom: 6px;
  line-height: 15px;
}
/* line 714, ../sass/style.sass */
.rightContentContainer .messagMainContainer .dayMessage ul li .time {
  display: block;
  font-size: 11px;
  color: #aaaaaa;
  margin-bottom: 8px;
}

/* line 720, ../sass/style.sass */
#footer {
  background-color: #444444;
}
/* line 722, ../sass/style.sass */
#footer .footerMenu {
  width: 450px;
}

/* line 726, ../sass/style.sass */
.footerMenu .footerMainMenu {
  margin-top: 21px;
  float: left;
  margin-bottom: 12px;
}
/* line 730, ../sass/style.sass */
.footerMenu .footerMainMenu li {
  float: left;
  font-family: Helvetica;
  font-size: 12px;
  line-height: 14px;
  color: #d9d9d9;
  border-left: 1px solid #d9d9d9;
  padding-left: 10px;
  margin-right: 10px;
}
/* line 739, ../sass/style.sass */
.footerMenu .footerMainMenu li a {
  text-decoration: none;
  color: #d9d9d9;
}
/* line 742, ../sass/style.sass */
.footerMenu .footerMainMenu li a:hover {
  color: black;
}
/* line 744, ../sass/style.sass */
.footerMenu .footerMainMenu li.noPadding {
  border-left: 0px;
}
/* line 746, ../sass/style.sass */
.footerMenu .copyrights {
  display: block;
  text-align: center;
  font-family: Helvetica;
  font-size: 12px;
  line-height: 14px;
  color: #888888;
  padding-bottom: 80px;
}
