/* line 1, ../sass/style.sass */
html, body, div, class, id, span, applet, object, iframe, h1, h4, h5, h6, p, blockquote, pre, a, b, i, h2, abbr, acronym, address, big, cite, code, s del, dfn, em, img, ins, q, s, samp, small, strike, strong, sub, sup, tt, var, u, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0px auto;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

/* line 330, icons/*.png */
.icons-sprite, .header a.logo, .mainNavigation i dashboard, .mainNavigation i.jobs {
  background: url('/images/icons-s44457d95dd.png') no-repeat;
}

/* HTML5 display-role reset for older browsers */
/* line 10, ../sass/style.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 13, ../sass/style.sass */
body {
  line-height: 1;
}

/* line 16, ../sass/style.sass */
ol, ul {
  list-style: none;
}

/* line 19, ../sass/style.sass */
blockquote, q {
  quotes: none;
}

/* line 23, ../sass/style.sass */
blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 28, ../sass/style.sass */
q:before, q:after {
  content: "";
  content: none;
}

/* line 32, ../sass/style.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 36, ../sass/style.sass */
body {
  font-size: 12px;
  font-family: Helvetica;
}

/* line 40, ../sass/style.sass */
#wrapper {
  font-size: 12px;
  line-height: 14px;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #f3f3f3;
}

/* line 46, ../sass/style.sass */
.clr {
  clear: both;
  float: none;
}

/* line 50, ../sass/style.sass */
#headerContainer {
  box-shadow: 0 2px 5px #d7d7d7;
  margin-bottom: 30px;
  background-color: white;
}

/* line 55, ../sass/style.sass */
.header {
  width: 960px;
  margin: 0px auto;
}
/* line 58, ../sass/style.sass */
.header a.logo {
  background-position: 0 0;
  width: 140px;
  height: 40px;
  float: left;
  text-indent: -5000px;
  margin: 10px 0px 10px 10px;
}

/* line 68, ../sass/style.sass */
.headerRight {
  margin: 9px 6px 0px 0px;
  float: right;
}
/* line 71, ../sass/style.sass */
.headerRight .headerTop {
  margin-bottom: 11px;
  float: right;
  font-family: Helvetica, Arial, sans-serif;
}

/* line 77, ../sass/style.sass */
.headerTop li {
  float: left;
  font-size: 12px;
  border-left: 1px solid #aaaaaa;
  padding-left: 9px;
  padding-right: 8px;
  display: block;
}
/* line 84, ../sass/style.sass */
.headerTop .menuStyle {
  padding-right: 0px;
}
/* line 86, ../sass/style.sass */
.headerTop .noBorder {
  border-left: none;
}
/* line 88, ../sass/style.sass */
.headerTop li a {
  text-decoration: none;
  color: #444444;
}
/* line 91, ../sass/style.sass */
.headerTop li a:hover {
  color: #dd4422;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: RobotoRegular;
  src: url("../fonts/Roboto-Regular.ttf");
}

/* line 104, ../sass/style.sass */
.mainNavigation {
  float: right;
}
/* line 106, ../sass/style.sass */
.mainNavigation li {
  float: left;
  margin: 0px 3px 0px 28px;
}
/* line 109, ../sass/style.sass */
.mainNavigation li a {
  font-family: Roboto;
  font-size: 13px;
  display: block;
  color: #666666;
  word-spacing: 2px;
  text-decoration: none;
}
/* line 116, ../sass/style.sass */
.mainNavigation li a:hover, .mainNavigation li a.selected {
  color: black;
}
/* line 119, ../sass/style.sass */
.mainNavigation i dashboard {
  background-position: 0 -481px;
  padding-right: 25px;
  height: 13px;
  width: 20px;
}
/* line 125, ../sass/style.sass */
.mainNavigation i.jobs {
  background-position: 0 -419px;
  padding-right: 25px;
  height: 13px;
  width: 20px;
}
/* line 131, ../sass/style.sass */
.mainNavigation i.transDir {
  background: url(../images/transdir_icon.png) no-repeat;
  padding-right: 25px;
  height: 13px;
  width: 20px;
  color: black;
}
/* line 137, ../sass/style.sass */
.mainNavigation i.langAssets {
  background: url(../images/langassets_icon.png) no-repeat;
  padding-right: 25px;
  height: 13px;
  width: 20px;
}
/* line 142, ../sass/style.sass */
.mainNavigation i.teams {
  background: url(../images/team_icon.png) no-repeat;
  margin: 0px 0px 0px 0px;
  padding-right: 25px;
  height: 13px;
  width: 20px;
}

/* line 149, ../sass/style.sass */
#content {
  width: 960px;
  border-radius: 5px;
  border: 1px solid #d5d5d5;
  box-shadow: 0px 0px 3px #d5d5d5;
  background-color: white;
  margin-bottom: 50px;
}

/* line 157, ../sass/style.sass */
.leftContent {
  width: 680px;
  float: left;
  box-shadow: 3px 0px 2px -1px #ebebeb;
}

/* line 162, ../sass/style.sass */
.topContent {
  background-color: #444444;
  border-top-left-radius: 5px;
  padding: 15px 20px 6px 20px;
  margin-bottom: 26px;
  color: white;
}

/* line 169, ../sass/style.sass */
.leftTopContent {
  width: 115px;
  margin-right: 27px;
  float: left;
}

/* line 174, ../sass/style.sass */
.profile {
  position: relative;
}
/* line 176, ../sass/style.sass */
.profile img {
  border-radius: 50%;
  border: 5px solid #2f2f2f;
  margin-bottom: 16px;
}

/* line 182, ../sass/style.sass */
a.twitter {
  background-image: url(../images/twitter.png);
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
  position: absolute;
  top: 58px;
  left: 97px;
}
/* line 190, ../sass/style.sass */
a.facebook {
  background-image: url(../images/facebook.png);
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
  position: absolute;
  top: 80px;
  left: 87px;
}
/* line 198, ../sass/style.sass */
a.linkedIn {
  background-image: url(../images/linkedin.png);
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
  position: absolute;
  top: 95px;
  left: 68px;
}

/* line 207, ../sass/style.sass */
.leftTopContent a:hover {
  opacity: 0.6;
}

/* line 210, ../sass/style.sass */
.ribbon {
  background-image: url(../images/ribbon.png);
  background-repeat: no-repeat;
  width: 116px;
  height: 20px;
}

/* line 216, ../sass/style.sass */
.middleTopContent {
  float: left;
  width: 290px;
  word-wrap: break-word;
  margin-right: 5px;
}
/* line 221, ../sass/style.sass */
.middleTopContent h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  font-family: Roboto;
  margin-bottom: 7px;
}
/* line 227, ../sass/style.sass */
.middleTopContent .location {
  font-family: Helvetica;
  font-size: 12px;
  line-height: 16px;
  color: #aaaaaa;
}
/* line 232, ../sass/style.sass */
.middleTopContent h3 {
  font-weight: bold;
  font-family: Helvetica;
  font-size: 14px;
  line-height: 16px;
  color: white;
  margin-bottom: 8px;
}
/* line 240, ../sass/style.sass */
.middleTopContent .infoList li {
  font-family: Helvetica;
  font-size: 12px;
  line-height: 18px;
}
/* line 244, ../sass/style.sass */
.middleTopContent .infoList .titleStyle {
  color: #aaaaaa;
}
/* line 246, ../sass/style.sass */
.middleTopContent .infoList .infoStyle {
  color: white;
}

/* line 249, ../sass/style.sass */
.rightTopContent {
  max-width: 203px;
  float: right;
  word-wrap: break-word;
}

/* line 254, ../sass/style.sass */
.firstRightTopContent {
  float: right;
  margin-bottom: 11px;
}
/* line 257, ../sass/style.sass */
.firstRightTopContent li {
  float: left;
  margin: 0px 1px 0px 1px;
}

/* line 261, ../sass/style.sass */
.active {
  background-image: url(../images/star.png);
  background-repeat: no-repeat;
  width: 14px;
  height: 13px;
}

/* line 267, ../sass/style.sass */
.noRating {
  background-image: url(../images/noRating.png);
  background-repeat: no-repeat;
  width: 14px;
  height: 13px;
}

/* line 273, ../sass/style.sass */
.recommend {
  font-size: 14px;
  line-height: 16px;
  font-family: Helvetica;
  color: #aaaaaa;
  float: right;
  margin-bottom: 30px;
}

/* line 281, ../sass/style.sass */
.countNum {
  color: white;
}

/* line 284, ../sass/style.sass */
.bottomRightTopContent {
  float: right;
}

/* line 287, ../sass/style.sass */
.upgradeBtn {
  float: right;
  max-width: 203px;
  padding-top: 1px;
  padding-right: 16px;
  padding-bottom: 1px;
  padding-left: 16px;
  background: -webkit-gradient(linear, left top, left bottom, from(#525252), to(#222222));
  background: -moz-linear-gradient(top, #525252, #222222);
  background: -o-linear-gradient(top, #525252, #222222);
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: inset 0px 0px 2px white;
  box-shadow: 1px 0px 5px black;
  font-size: 14px;
  font-family: Helvetica;
  line-height: 24px;
  text-decoration: none;
  color: white;
  margin-bottom: 15px;
}

/* line 308, ../sass/style.sass */
.features {
  float: right;
  font-size: 12px;
  line-height: 16px;
  font-family: RobotoRegular;
  color: #aaaaaa;
  text-align: right;
}

/* line 316, ../sass/style.sass */
.money {
  color: white;
}

/* line 319, ../sass/style.sass */
.leftMainContent {
  width: 610px;
}

/* line 322, ../sass/style.sass */
.personalDetails {
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 36px;
  padding-bottom: 16px;
}
/* line 326, ../sass/style.sass */
.personalDetails li {
  margin-bottom: 16px;
}
/* line 328, ../sass/style.sass */
.personalDetails .address {
  max-width: 610px;
  font-size: 14px;
  line-height: 16px;
  color: #666666;
  display: block;
}
/* line 334, ../sass/style.sass */
.personalDetails .address i {
  background: url(../images/address.png) no-repeat;
  width: 15px;
  height: 15px;
  padding-left: 25px;
}
/* line 339, ../sass/style.sass */
.personalDetails .phone {
  width: 280px;
  word-wrap: break-word;
  font-size: 14px;
  line-height: 16px;
  color: #666666;
  margin-right: 5px;
}
/* line 346, ../sass/style.sass */
.personalDetails .phone i {
  background: url(../images/phone.png) no-repeat;
  width: 15px;
  height: 15px;
  padding-left: 13px;
  float: left;
}
/* line 352, ../sass/style.sass */
.personalDetails .fax {
  width: 300px;
  word-wrap: break-word;
  font-size: 14px;
  line-height: 16px;
  color: #666666;
  float: right;
}
/* line 359, ../sass/style.sass */
.personalDetails .fax i {
  background: url(../images/fax.png) no-repeat;
  width: 15px;
  height: 15px;
  padding-left: 25px;
}
/* line 365, ../sass/style.sass */
.personalDetails .mail a {
  width: 280px;
  word-wrap: break-word;
  font-size: 14px;
  line-height: 16px;
  color: #666666;
  margin-right: 5px;
}
/* line 372, ../sass/style.sass */
.personalDetails .mail i {
  background: url(../images/mail.png) no-repeat;
  width: 15px;
  height: 15px;
  padding-left: 13px;
  float: left;
}
/* line 378, ../sass/style.sass */
.personalDetails .url a {
  width: 300px;
  word-wrap: break-word;
  font-size: 14px;
  line-height: 16px;
  color: #666666;
  float: right;
}
/* line 385, ../sass/style.sass */
.personalDetails .url a i {
  background: url(../images/email.png) no-repeat;
  width: 15px;
  height: 15px;
  padding-left: 25px;
}
/* line 390, ../sass/style.sass */
.personalDetails .url a:hover {
  color: #dd4422;
}
/* line 392, ../sass/style.sass */
.personalDetails li a {
  text-decoration: none;
  color: #dd4422;
}
/* line 395, ../sass/style.sass */
.personalDetails li a:hover {
  color: black;
}

/* line 398, ../sass/style.sass */
.middleMainTopContent h2 {
  padding-bottom: 10px;
  color: #444444;
  font-family: Roboto;
  font-size: 24px;
  line-height: 26px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 14px;
}
/* line 406, ../sass/style.sass */
.middleMainTopContent h2 i {
  background: url(../images/jobhistory.png) no-repeat;
  height: 26px;
  width: 33px;
  padding-left: 40px;
}

/* line 412, ../sass/style.sass */
.jobHistory {
  margin-bottom: 34px;
}
/* line 414, ../sass/style.sass */
.jobHistory li {
  margin-bottom: 10px;
  border-bottom: 1px solid #ebebeb;
}

/* line 418, ../sass/style.sass */
h3 {
  font-family: Helvetica;
  font-size: 18px;
  line-height: 22px;
  color: #444444;
  font-weight: bold;
  margin-bottom: 8px;
}

/* line 426, ../sass/style.sass */
.jobHistory .company {
  display: block;
  font-family: Helvetica;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
  margin-bottom: 8px;
}

/* line 434, ../sass/style.sass */
.month {
  display: block;
  font-family: Helvetica;
  font-size: 11px;
  line-height: 13px;
  color: #aaaaaa;
  margin-bottom: 14px;
}

/* line 442, ../sass/style.sass */
.jobHistory .details {
  display: block;
  font-family: Helvetica;
  font-size: 12px;
  line-height: 18px;
  color: #888888;
  margin-bottom: 14px;
}

/* line 450, ../sass/style.sass */
.middleMainBottomContent h2 {
  padding-bottom: 8px;
  color: #444444;
  font-family: Roboto;
  font-size: 24px;
  line-height: 36px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 22px;
}
/* line 458, ../sass/style.sass */
.middleMainBottomContent h2 i {
  background-image: url(../images/education.png);
  background-repeat: no-repeat;
  padding-left: 48px;
  width: 40px;
  height: 30px;
}

/* line 465, ../sass/style.sass */
.educationUniversity {
  margin-bottom: 27px;
}

/* line 468, ../sass/style.sass */
.university h3 {
  margin: 0 0 6px 0;
}

/* line 472, ../sass/style.sass */
.educationUniversity .university {
  width: 265px;
  word-wrap: break-word;
  float: left;
  border-radius: 5px;
  margin: 0 20px 0 0;
  padding: 15px 15px 8px 15px;
  box-shadow: 0px 0px 1px 1px #d9d9d9;
}
/* line 480, ../sass/style.sass */
.educationUniversity .clrMargin {
  margin: 0px 0px 0px 0px;
}

/* line 484, ../sass/style.sass */
.university .certification {
  font-size: 14px;
  line-height: 16px;
  color: #444444;
  margin: 0 0 7px 0;
  display: block;
}
/* line 490, ../sass/style.sass */
.university .month {
  margin: 0 0 18px 0;
  display: block;
}

/* line 494, ../sass/style.sass */
.review {
  padding-bottom: 5px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 20px;
}
/* line 498, ../sass/style.sass */
.review h2 {
  font-family: Roboto;
  font-size: 24px;
  line-height: 26px;
  color: #444444;
}
/* line 503, ../sass/style.sass */
.review .arrows {
  float: right;
}
/* line 506, ../sass/style.sass */
.review .arrows a.pre {
  float: right;
  background-image: url(../images/prevarrow.png);
  background-repeat: no-repeat;
  width: 15px;
  height: 20px;
  display: block;
  margin-right: 9px;
}
/* line 514, ../sass/style.sass */
.review .arrows a.next {
  float: right;
  background-image: url(../images/nextarrow.png);
  background-repeat: no-repeat;
  width: 15px;
  height: 20px;
  display: block;
}

/* line 522, ../sass/style.sass */
.revieweClass {
  margin-bottom: 30px;
}

/* line 526, ../sass/style.sass */
.reviewClass .reviewBox {
  width: 280px;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  padding: 9px 0px 15px 9px;
  margin-right: 23px;
  margin-bottom: 23px;
  float: left;
  box-shadow: 1px 0px 2px #d9d9d9;
}
/* line 535, ../sass/style.sass */
.reviewClass .clrMargin {
  margin: 0px 0px 0px 0px;
}
/* line 537, ../sass/style.sass */
.reviewClass .reviewBox .topReview {
  padding-bottom: 8px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 7px;
}
/* line 541, ../sass/style.sass */
.reviewClass .reviewBox .topReview a {
  display: block;
  float: left;
}
/* line 544, ../sass/style.sass */
.reviewClass .reviewBox .topReview img {
  border-radius: 50%;
  border: 1px solid #e1e1e1;
  margin-right: 11px;
  width: 55px;
  height: 58px;
}
/* line 550, ../sass/style.sass */
.reviewClass .reviewBox .topReview .nameDesg {
  float: left;
}

/* line 554, ../sass/style.sass */
.reviewBox .topReview a.adam {
  font-family: Helvetica;
  font-size: 16px;
  line-height: 18px;
  padding-top: 19px;
  display: block;
  color: #3d3d3d;
  text-decoration: none;
  float: left;
}
/* line 563, ../sass/style.sass */
.reviewBox .topReview a.adam:hover {
  color: #dd4422;
}
/* line 565, ../sass/style.sass */
.reviewBox .topReview .desg {
  font-family: Helvetica;
  font-size: 14px;
  line-height: 18px;
  color: #b7b7b7;
}
/* line 570, ../sass/style.sass */
.reviewBox .topReview .ratingDisplay {
  float: right;
  padding-top: 17px;
}

/* line 574, ../sass/style.sass */
.ratingDisplay li {
  float: left;
  padding-left: 2px;
}

/* line 579, ../sass/style.sass */
.reviewBox .adamReview {
  font-family: Helvetica;
  font-size: 14px;
  line-height: 16px;
  color: #3d3d3d;
  margin-bottom: 3px;
  display: block;
}
/* line 586, ../sass/style.sass */
.reviewBox .reviewInfo {
  font-family: Helvetica;
  font-size: 12px;
  color: #888888;
  display: block;
}
/* line 591, ../sass/style.sass */
.reviewBox .reviewInfo a {
  text-decoration: none;
  color: #dd4422;
  font-size: 12px;
  line-height: 14px;
}
/* line 596, ../sass/style.sass */
.reviewBox .reviewInfo a:hover {
  color: black;
}

/* line 599, ../sass/style.sass */
.rightContentContainer {
  width: 280px;
  float: left;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
/* line 604, ../sass/style.sass */
.rightContentContainer .messageHeader {
  margin: 25px 30px 20px 20px;
}
/* line 606, ../sass/style.sass */
.rightContentContainer .messageHeader h2 {
  padding: 0px 0 0px 0px;
  color: #dd4422;
  float: left;
  text-transform: uppercase;
  line-height: 36px;
  margin: 0px;
}
/* line 613, ../sass/style.sass */
.rightContentContainer .messageHeader h2 i {
  width: 36px;
  height: 36px;
  float: left;
  display: block;
  background: no-repeat url(../images/message.png);
  margin-right: 7px;
}
/* line 620, ../sass/style.sass */
.rightContentContainer .messageHeader span {
  text-transform: uppercase;
  color: #666666;
  float: right;
  margin: 9px 7px 0 0;
}
/* line 625, ../sass/style.sass */
.rightContentContainer .messageHeader .newMessageContainer {
  float: right;
}
/* line 627, ../sass/style.sass */
.rightContentContainer .messageHeader .newMessage {
  height: 19px;
  width: 22px;
  color: #dd4422;
  float: right;
  background: #dd4422;
  border-radius: 11px;
  color: white;
  text-align: center;
  font-family: robotobold;
  padding-top: 3px;
  margin-top: 6px;
}
/* line 640, ../sass/style.sass */
.rightContentContainer .messagMainContainer .days {
  border-radius: 2px;
  padding: 0 0 20px 0px;
  display: block;
  font-size: 11px;
}
/* line 645, ../sass/style.sass */
.rightContentContainer .messagMainContainer .days .day {
  padding: 2px 5px 2px 5px;
  background: #e5e5e5;
  border-radius: 2px;
  margin: 0 0 15px 15px;
}
/* line 650, ../sass/style.sass */
.rightContentContainer .messagMainContainer .days .borderSeparator {
  background: url(../images/bordershadow.png) no-repeat;
  height: 8px;
  width: 165px;
  float: left;
  margin: 25px 0 2px 0;
}
/* line 656, ../sass/style.sass */
.rightContentContainer .messagMainContainer .days .clr {
  display: block;
}
/* line 658, ../sass/style.sass */
.rightContentContainer .messagMainContainer .dayMessage {
  clear: both;
  margin-bottom: 31px;
}
/* line 661, ../sass/style.sass */
.rightContentContainer .messagMainContainer .dayMessage ul {
  margin: 0px 30px 0px 20px;
}
/* line 662, ../sass/style.sass */
.rightContentContainer .messagMainContainer .dayMessage ul .clr {
  border: none;
  margin: 0;
  padding: 0;
}
/* line 667, ../sass/style.sass */
.rightContentContainer .messagMainContainer .dayMessage ul li {
  border-bottom: 1px solid #ebebeb;
  margin: 8px 0px 5px 0px;
}
/* line 670, ../sass/style.sass */
.rightContentContainer .messagMainContainer .dayMessage ul li a {
  display: block;
  float: left;
  padding: 0 5px 0 0;
}
/* line 674, ../sass/style.sass */
.rightContentContainer .messagMainContainer .dayMessage ul li .pic {
  width: 36px;
  height: 36px;
  border-radius: 18px;
  box-shadow: inset 0 0 1px 0 #cccccc;
  float: left;
  margin: 0 10px 7px 0;
  display: block;
}
/* line 682, ../sass/style.sass */
.rightContentContainer .messagMainContainer .dayMessage ul li .name {
  display: block;
  font-size: 16px;
  color: #222222;
  margin: 9px 0 0 0px;
  float: left;
}
/* line 688, ../sass/style.sass */
.rightContentContainer .messagMainContainer .dayMessage ul li .name:hover {
  color: #dd4422;
}
/* line 690, ../sass/style.sass */
.rightContentContainer .messagMainContainer .dayMessage ul li span {
  display: block;
  color: #666666;
  margin-bottom: 6px;
  line-height: 15px;
}
/* line 695, ../sass/style.sass */
.rightContentContainer .messagMainContainer .dayMessage ul li .time {
  display: block;
  font-size: 11px;
  color: #aaaaaa;
  margin-bottom: 8px;
}

/* line 701, ../sass/style.sass */
#footer {
  background-color: #444444;
}
/* line 703, ../sass/style.sass */
#footer .footerMenu {
  width: 450px;
}

/* line 707, ../sass/style.sass */
.footerMenu .footerMainMenu {
  margin-top: 21px;
  float: left;
  margin-bottom: 12px;
}
/* line 711, ../sass/style.sass */
.footerMenu .footerMainMenu li {
  float: left;
  font-family: Helvetica;
  font-size: 12px;
  line-height: 14px;
  color: #d9d9d9;
  border-left: 1px solid #d9d9d9;
  padding-left: 10px;
  margin-right: 10px;
}
/* line 720, ../sass/style.sass */
.footerMenu .footerMainMenu li a {
  text-decoration: none;
  color: #d9d9d9;
}
/* line 723, ../sass/style.sass */
.footerMenu .footerMainMenu li a:hover {
  color: black;
}
/* line 725, ../sass/style.sass */
.footerMenu .footerMainMenu li.noPadding {
  border-left: 0px;
}
/* line 727, ../sass/style.sass */
.footerMenu .copyrights {
  display: block;
  text-align: center;
  font-family: Helvetica;
  font-size: 12px;
  line-height: 14px;
  color: #888888;
  padding-bottom: 80px;
}
